* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 65px;
    background-color: white;
    box-shadow: 1px 1px 3px 0.5px #ccc;
    display: flex;
    justify-content: space-around;

}
.logo-nav {
    width:170px;
    height: 50px;
    background-image: url(images/cropped-BSR-Biotech-Logo-400px.png);
    background-size: 100% 100%;
    margin-top: 6px;
    
}
.nav-links-col {
    width: 36%;
    display: flex;
    justify-content: space-between;
    

}
.nav-links-col li {
    list-style: none;
    display: block;
    line-height: 65px;
    transition-timing-function: ease-in-out;
    
    
}
.nav-links-col .l-links-1:hover {
    transition: 0.25s;
    border-bottom: 2.5px solid #00ffa2;
}
.products-dd {
    display: flex;
 justify-content: center;
 font-size: 14.5px;
 color: black;
 text-decoration: none;
 
 font-family: 'Montserrat', sans-serif;
 font-weight: 600;
 cursor: pointer;
 transition: 0.25s;
}

.nav-links-col .a-links-01 {
    font-size: 14.5px;
    color: black;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: 0.15s;
    
    
}
.nav-links-col .a-links-01:hover {
    color: #00ffa2;
    transition-timing-function: ease-in-out;

}
.nav-links-col .products-dd:hover {
    color: #00ffa2;
    transition-timing-function: ease-in-out;
    

}
 .l-links-1:hover .nav-links-col2 {
  display: block;
  
transform: translateY(0px);


}
.l-links-1 {
    transition-timing-function: ease-in-out;

}
  .nav-links-col2 {
    width: 200px;
    background-color: rgb(255, 253, 253);
    border: 0.1px solid #ccc;
    display: none;
    position:absolute;
    margin-left: -50px;
transform: translateY(20px);
}

.nav-links-col2 a {
    font-size: 12.5px;
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition-timing-function: ease-out;
    transition: 0.2s;
}
.nav-links-col2 li:hover {
    background-color: rgb(243, 242, 242);
    
}
.nav-links-col2 a:hover {
color:#00ffa2;   
transition-timing-function: ease-in-out;

}

/** social media icons **/

.social-media-icon {
    width: 200px;
    height: 65px;
    line-height: 70px;
}
#soc-icon {
    text-decoration: none;
    color: black;
    border-radius: 50%;
    font-size: 23px;
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: 0.15s;
    box-shadow: 0px 0px 4px rgb(146, 146, 146);
margin-left: 20px;
}
#soc-icon-1 {
    text-decoration: none;
    color: black;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50%;
    font-size: 23px;
    box-shadow: 0px 0px 4px rgb(146, 146, 146);
    
    transition: 0.15s;

}
#soc-icon-1:hover {
    color: white;
    background-color: #00ffa2;
    transition-timing-function: ease-in-out;
}
#soc-icon:hover {
    color: white;
    background-color: #00ffa2;
    transition-timing-function: ease-in-out;
}

.bars-menu {
    width: 40px;
    height: 40px;
    display: block;
    margin-top: 15px ;
 display: none;
}
.line-01 {
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: black;
    margin: 5px;
    transition: 0.2s;

}
.line-02 {
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: black;
    margin: 5px;
}
.line-03 {
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: black;
    margin: 5px;
    transition: 0.2s;
}



/** responsve navigation bar **/

@media screen and (max-width: 1200px){
    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        z-index: 1000;
        
    }
    .nav-links-col {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100vh;
        top: 65px;
        scroll-behavior:fixed;
        background-color:rgb(255, 255, 255);
        position: fixed;        
        align-items: flex-start;
        justify-content: start;
         border-right: 0.1px solid rgb(207, 205, 205);
        position: absolute;
        transform: translatey(-120%);
        transition: 0.3s;
        box-shadow: 0px 1px 6px rgb(214, 214, 214);
        z-index: -1111111;

    
    }
    .nav-links-01-active {
        transform: translateX(0%);
        transition-timing-function: ease;
    }
    .bar-1-active {
        transform: rotateZ(45deg) translateX(6px) translateY(7px) ;
        transition-timing-function: ease;
        
    }
    .bar-2-active {
        transform: rotateZ(-45deg) translateX(6px) translateY(-7px);
        transition-timing-function: ease;
        
        
    }
    .bar-3-active {
        opacity: 0;
    }
    
    .nav-links-col2 {
        width: 100%;
        background-color: rgb(255, 253, 253);
        display: fixed;
        margin-left: 0;
        transform: translateY(0px);
        border: none;

    }
    .logo-nav {
        width:170px;
        height: 50px;
        margin-right: -60px;
        background-image: url(./images/cropped-BSR-Biotech-Logo-400px.png);
        background-size: 100% 100%;
        margin-top: 6px;
        
    }
    .logo-active {
        display: none;
    }
    .products-dd {
        font-size: 14.5px;
        color: black;
        text-decoration: none;
        margin-left: 28px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        cursor: pointer;
        transition: 0.25s; 
        
        justify-content: start;
    }
    .nav-links-col2  a {
        margin-left: 40px;
    }
    .social-media-icon {
        width: 150px;
        height: 65px;

        line-height: 70px;
    }
    .soc-active{
        display: none;
    }

    
    .l-links-1 {
        display: block;
        width: 100%;
        border-bottom: 0.1px solid grey;
    }
    .nav-links-col .a-links-01 {
        font-size: 14.5px;
        color: black;
        text-decoration: none;
        
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        transition: 0.15s;
        
        
    }
    .bars-menu {
        margin-left: 20px;
        display: block;
    }
     
}

@media screen and (max-width:420px) {
    .logo-nav{
        width: 140px;
        height: 50px;
    }
    nav {
      
        box-shadow: 0.5px 0.5px 1px 0.1px #ccc;
       
    
    }
    .bars-menu {
        margin-left: 20px;
    }
  #soc-icon-1 {
    text-decoration: none;
    color: black;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0px 0px 2px rgb(146, 146, 146);
    margin-left: 10px;
  }
  .social-media-icon {
    width: 115px;
    height: 65px;
    line-height: 70px;
    

}
  #soc-icon{
    text-decoration: none;
    color: black;
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0px 0px 2px rgb(146, 146, 146);
margin-left: 6px;
    
  }
}
